/* CSS STARTED */

@import url("https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    color: rgb(35, 56, 72);
}

a {
    font-family: Quicksand, sans-serif;
}

p {
    font-family: Montserrat, sans-serif;
}

section {
    padding: 130px 0px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

.logo {
    width: 190px;
}

.logo img {
    width: 100%;
}

.top-header-inner {
    padding: 20px 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-bar ul {
    display: flex;
    gap: 18px;
    margin-right: 30px;
    align-items: center;
    position: relative;
}

.appointment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar ul li a {
    color: rgb(35, 56, 72);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    position: relative;
}
.main-menu.sticky{
    padding: 0px 0px;
    background: #fff;
    z-index: 999999;
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    animation-duration: 1s;
    animation-name: sticky-animation;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
@keyframes sticky-animation {
    0% {
      opacity: 0;
      transform: translate3d(0,-100%,0);
  }
}
nav.main-menu.sticky {position: fixed;right: 0;left: 0;padding: 18px 0px;}

nav.main-menu.sticky .logo {
    margin-left: 60px;
}

nav.main-menu.sticky .menu-bar {margin-right: 60px;}
ul.menu li i {
    font-size: 14px;
    margin-left: 3px;
    color: rgb(101, 119, 141) !important;
}

.menu-bar ul li a i {
    font-size: 13px;
}

ul.sub-menu {
    display: inline-block;
    position: absolute;
    top: 53px;
    left: 57px;
    width: 210px;
    z-index: 11;
    background: rgb(255, 255, 255);
    padding: 0px;
    visibility: hidden;
    opacity: 0;
}
li.our-submenu-2 .right-sub-menu {opacity: 0; visibility:hidden}

li.our-submenu-2:hover .right-sub-menu {
    visibility: visible;
    opacity: 1;
}
ul.sub-menu li a i {
    right: 25px;
    position: absolute;
    color: rgb(101, 119, 141) !important;
    font-size: 12px;
    margin-top: 4px;
}

ul.sub-menu li a:hover i {
    color: #fff !important;
}
ul.sub-menu li {
    margin: 0px;
    width: 100%;
}
ul.sub-menu li a i {
    right: 15px;
    position: absolute;
    color: rgb(101, 119, 141) !important;
    font-size: 12px;
    margin-top: 4px;
}

ul.sub-menu li a:hover i {
    color: #fff !important;
}

ul.right-sub-menu{
    display: inline-block;
    position: absolute;
    top: 200px;
    right: 180px;
    width: 245px;
    z-index: 11;
    background: rgb(255, 255, 255);
    padding: 0px;
    box-shadow: 0px 5px 15px 0px rgba(0, 33, 85, 0.1);
}
ul.sub-menu li a {
    display: inline-block;
    text-transform: capitalize;
    padding: 15px;
    width: 100%;
    transition: all 0.4s ease 0s;
    color: rgb(101, 119, 141) !important;
    font-size: 14px !important;
}

ul.sub-menu li a:hover {
    background: rgb(227, 34, 83) !important;
    color: rgb(255, 255, 255) !important;
}

.menu-bar li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}
.three-dots{
    display: none;
}
.active-home {
    color: rgb(227, 34, 83) !important;
}

.appoint-btn {
    padding: 17px 30px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 14px;
    border-radius: 3px;
    display: inline-block;
    margin-left: 15px;
    transition: all 0.4s ease 0s;
    background: rgb(227, 34, 83) !important;
}

.appoint-btn:hover {
    color: rgb(255, 255, 255);
    background-color: black !important;
}

.appoint-btn i {
    font-size: 14px;
    margin-left: 7px;
    font-weight: 600;
}

.appointment i:first-child {
    font-size: 20px;
    color: rgb(101, 119, 141);
}

.bottom-header {
    position: relative;
    overflow: hidden;
}

.bheader-img img {
    width: 100%;
    height: 685px;
}

.bheader-img {
    position: relative;
}

.health-care-header {
    position: absolute;
    top: 50%;
    z-index: 11;
    transform: translateY(-50%);
}

.health-title span {
    display: block;
    background: rgb(227 34 83 / 18%);
    width: 164px;
    padding: 6px;
    text-align: center;
    color: rgb(227, 34, 83);
    text-transform: uppercase;
    font-size: 14px;
    font-family: Quicksand, sans-serif;
    letter-spacing: 0px;
    line-height: 21px;
    font-weight: 600;
    margin-bottom: 15px;
}

.health-title h2 {
    color: rgb(35, 56, 72);
    font-size: 62px;
    line-height: 70px;
    width: 641px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.health-title p {
    color: rgb(101, 119, 141);
    width: 635px;
    line-height: 27px;
    margin-bottom: 30px;
}

.health-btn .appoint-btn {
    margin: 0px !important;
}

.about-image {
    width: 46%;
}

.about-image img {
    width: 100%;
}

.about-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-description {
    width: 48%;
}

.about-title span {
    background: rgba(241, 54, 80, 0.08);
    color: rgb(227, 34, 83);
    font-weight: 600;
    font-family: Quicksand, sans-serif;
    padding: 5px 8px;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: block;
    width: 140px;
    text-align: center;
    margin-bottom: 20px;
}

.about-title h3 {
    font-size: 48px;
    color: rgb(35, 56, 72);
    line-height: 56px;
    font-weight: 600;
    margin-bottom: 15px;
}

.about-title p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(108, 117, 125);
    line-height: 28px;
    margin-bottom: 30px;
}

.about-item-left ul li span i {
    background: rgba(241, 54, 80, 0.08);
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
    color: rgb(227, 34, 83);
    margin: 0px 10px 15px 0px;
}

.about-item-left ul li span {
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.about-item-right ul li span i {
    background: rgba(241, 54, 80, 0.08);
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
    color: rgb(227, 34, 83);
    margin: 0px 10px 15px 0px;
}

.about-item-right ul li span {
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.about-item {
    display: flex;
    width: 480px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.about-btn .appoint-btn {
    margin: 0px;
}

.menu-bar ul li a:hover {
    color: rgb(227, 34, 83);
}

.sec-title span {
    color: rgb(227, 34, 83);
    background: rgba(241, 54, 80, 0.08);
    font-family: Quicksand;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    line-height: 22px;
    border-radius: 3px;
    display: block;
    width: 129px;
    text-align: center;
    letter-spacing: 0.5px;
    margin: 10px auto;
}

.sec-title h2 {
    color: rgb(40, 48, 60);
    font-size: 48px;
    line-height: 56px;
}

.sec-title {
    text-align: center;
    margin-bottom: 50px;
}

.services-bg {
    position: relative;
    padding: 120px 0px 280px;
    background: rgb(241, 245, 248);
}

.ser-icon img {
    width: 100%;
    color: rgb(227, 34, 83);
}

.ser-icon {
    width: 68px;
    height: 68px;
    padding: 12px;
    border: 1px solid rgb(227, 34, 83);
    border-radius: 50%;
    color: rgb(227, 34, 83);
}

.card-head {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
    flex-direction: row;
}

.ser-head h3 {
    font-size: 23px;
}

.service-card p {
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    color: rgb(101, 119, 141) !important;
}

.service-card {
    width: 370px;
    background: rgb(255, 255, 255);
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 20, 9, 0.1) 0px 0px 30px 0px;
    margin-top: 60px;
}

ul.ser-list-item li span i {
    margin-right: 5px;
    color: rgb(227, 34, 83);
    font-weight: 700;
    font-size: 18px;
}

ul.ser-list-item li span {
    font-size: 17px;
    font-family: Quicksand;
    font-weight: 500;
    color: rgb(35, 56, 72) !important;
}

ul.ser-list-item li {
    padding-bottom: 15px;
}

section#services {
    position: relative;
    padding: 0px;
}

.service-card-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    gap: 15px;
    z-index: 11;
}

.services-inner {
    position: relative;
}

section#about-us {
    position: relative;
    overflow: hidden;
    padding-top: 320px;
}

.about-us-span {
    width: 145px !important;
}

.medicated-item img {
    width: 45px;
}

.medicated-item a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.medical-icon-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    margin-top: 40px;
}

.medicated-item span {
    font-size: 20px;
    color: rgb(35, 56, 72);
    font-family: Quicksand, sans-serif;
    font-weight: 600;
}

.aboutus-img img {
    width: 100%;
}

.aboutus-img {
    width: 575px;
}

.aboutus-reason-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutus-description h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
}

.aboutus-description {
    width: 515px;
}

.aboutus-description p {
    color: rgb(108, 117, 125);
    line-height: 31px;
    margin-bottom: 30px;
}

ul.reason-list li {
    color: rgb(108, 117, 125);
    font-size: 16px;
    margin-bottom: 10px;
    font-family: Quicksand;
    line-height: 26px;
}

ul.reason-list li i {
    color: rgb(227, 34, 83);
    font-size: 14px;
    margin-right: 5px;
}

.aboutus-btn .appoint-btn {
    margin: 30px 0px 0px;
}

.medicated-item.all.pro-active {
    text-decoration: underline;
    color: rgb(227, 34, 83) !important;
}

.card.hide {
    display: none;
}

.medicate-insurance {
    background: rgb(52, 68, 73);
    padding: 175px 0px 135px;
}

.video-icon {
    width: 85px;
    height: 85px;
    background: rgb(227, 34, 83);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 0px auto 40px;
}

.healthy-title h3 {
    font-size: 48px;
    color: rgb(255, 255, 255);
    line-height: 56px;
    font-weight: 600;
    text-align: center;
}

.clip video {
    width: 70%;
    transition: all 0.4s ease 0s;
}

.clip {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    opacity: 0;
}

.clip.vdactive {
    visibility: visible;
    opacity: 1;
}

.animate-border p {
    transform: translateX(0%) translateY(-50%);
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    cursor: pointer;
    margin: 0px auto;
    transition: all 0.4s ease 0s;
    background: rgb(227, 34, 83) !important;
    color: rgb(255, 255, 255) !important;
}

.animate-border p i {
    font-size: 23px;
    transition: all 0.3s ease 0s;
    color: rgb(255, 255, 255);
    position: relative;
}

.animate-border p::before {
    content: "";
    position: absolute;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    animation: 1500ms ease-out 0s infinite normal none running pulse-border;
    background: rgb(227, 34, 83) !important;
}

.animate-border p::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 85px;
    height: 85px;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transition: all 200ms ease 0s;
}

@keyframes pulse-border {
    0% {
        transform: scale(0.95);
        box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 0px 0px;
    }

    70% {
        transform: scale(1);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 10px;
    }

    75% {
        transform: scale(1);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 10px;
    }

    100% {
        transform: scale(0.95);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    }
}

.healthy-title {
    margin-top: 5px;
}

.clip .close {
    position: absolute;
    right: 200px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    z-index: 111;
    color: rgb(255, 183, 3);
    cursor: pointer;
}

section.medicate {
    padding: 0px;
}

.ovarlay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.medicate-image {
    width: 885px;
    margin-left: -300px;
}

.medicate-image img {
    width: 100%;
}

.medicate-dc-inner {
    display: flex;
}

.medicate-description {
    width: 650px;
    margin: 0px 62px;
    padding: 90px 0px 0px;
}

.medicate-text span {
    display: block;
    font-family: Quicksand;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: rgb(227, 34, 83);
    background: rgba(241, 54, 80, 0.08);
    width: 150px;
    border-radius: 3px;
    padding: 4px 8px;
    text-align: center;
    margin-bottom: 15px;
}

.medicate-text h2 {
    font-size: 48px;
    line-height: 56px;
    color: rgb(40, 48, 60);
    font-weight: 600;
    margin-bottom: 35px;
}

.medicate-list-inner {
    display: flex;
    margin-bottom: 35px;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: rgb(225, 216, 216);
    padding: 0px 0px 30px;
}

.medicate-check {
    width: 110px;
    height: 60px;
    background: rgba(241, 54, 80, 0.08);
    color: rgb(227, 34, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 30px;
}

.medicate-info h4 {
    font-size: 20px;
    color: rgb(35, 56, 72);
    line-height: 28px;
}

.medicate-info p {
    line-height: 30px;
    color: rgb(109, 138, 140);
}

.medicated-overlay {
    background: rgb(241, 245, 248);
}

.medicate-list-inner:last-child {
    border: none;
}

.work-image {
    width: 360px;
    position: relative;
    height: 370px;
}

.work-image img {
    width: 100%;
}

.work-title {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.work-item {
    position: relative;
    width: 360px;
    overflow: hidden;
}

.work-item .working-title {
    position: absolute;
    bottom: -125px;
    left: 30px;
    right: 30px;
    background: rgb(255, 255, 255);
    padding: 32px;
    text-align: center;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.5s ease-in-out 0s;
}

.working-title a {
    color: rgb(227, 34, 83);
    text-transform: uppercase;
    font-size: 14px;
    font-family: Quicksand;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 6px;
    display: block;
}

.working-title h4 a {
    font-size: 23px;
    text-transform: capitalize;
    line-height: 32px;
    margin-bottom: 0px;
    font-family: Quicksand;
    color: rgb(35, 56, 72) !important;
}

.work-item .work-title a i {
    width: 54px;
    height: 54px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 35px;
    border-radius: 4px;
    transition: all 300ms linear 0s;
    opacity: 0;
    z-index: 9;
    background: rgb(227, 34, 83) !important;
}

.work-title a i:hover {
    background: rgb(35, 56, 72) !important;
}

.work-image::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    transition: all 0.5s ease-in-out 0s;
    opacity: 0;
    background: rgb(101, 119, 141) !important;
}

.work-image:hover::before {
    opacity: 0.2;
}

.work-item .work-image img {
    transform: scale(1);
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out 0s;
}

.work-item:hover .work-image img {
    transform: scale(1.1);
}

.work-item:hover .work-title a i {
    opacity: 1;
}

.work-item:hover .working-title {
    bottom: 30px;
    opacity: 1;
    z-index: 10;
}

.work-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member-overlay {
    background: rgb(227, 34, 83);
    padding: 245px 0px 100px;
    position: absolute;
    width: 100%;
    bottom: -240px;
}

.member-img {
    background: rgba(255, 255, 255, 0.11);
    width: 85px;
    height: 85px;
    padding: 13px;
    margin-bottom: 20px;
}

.member-img img {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255) !important;
}

.member-count h4 {
    font-size: 48px;
    line-height: 56px;
    color: rgb(255, 255, 255);
    display: inline-block;
}

.member-count span {
    font-size: 40px;
    color: rgb(255, 255, 255);
    line-height: 48px;
    font-family: Quicksand, sans-serif;
    font-weight: 600;
}

.member-num {
    width: 100%;
}

.membars-item {
    width: 200px;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: rgba(255, 255, 255, 0.2);
    padding: 0px 0px 0px 8px;
}

.member-count {
    margin-bottom: 7px;
}

.member-num p {
    font-family: Quicksand, sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.work-member-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-wrapper {
    position: relative;
}

section#work {
    position: relative;
}

section#touch {
    position: relative;
    top: 235px;
}

.touch-sec-title span {
    background: rgba(241, 54, 80, 0.08);
    color: rgb(227, 34, 83);
    padding: 4px 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    font-family: Quicksand;
    letter-spacing: 0.3px;
    line-height: 22px;
    border-radius: 2px;
    margin-bottom: 10px;
    display: block;
    width: 120px;
    text-align: center;
}

.touch-sec-title h2 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgb(35, 56, 72) !important;
}

.touch-left {
    width: 530px;
}

.touch-sec-title p {
    color: rgb(136, 136, 136);
    font-family: Montserrat;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    margin: 5px 0px 45px;
}

.touch-icon span {
    transform: scale(1);
    color: rgb(227, 34, 83);
    font-size: 20px;
}

.touch-icon {
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(221, 221, 221) 0px 1px 6px 2px;
}

.touch-item {
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
}

.touch-location h5 {
    color: rgb(40, 48, 60);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
}

.touch-location p {
    color: rgb(136, 136, 136);
    line-height: 30px;
    font-size: 16px;
}

.touch-right {
    background: rgb(248, 248, 248);
    padding: 105px 30px 30px;
    width: 581px;
    height: 585px;
}

.touch-right-inner textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 18px 15px;
    font-size: 16px;
    resize: none;
    font-family: Quicksand;
}

.touch-right-item {
    display: flex;
    gap: 25px;
}

.input-item input {
    background: rgb(255, 255, 255);
    padding: 0px 15px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    outline: none;
    border: none;
    border-radius: 3px;
    font-family: Quicksand;
    color: rgb(35, 56, 72) !important;
}

.touch-inner {
    display: flex;
    justify-content: space-between;
}

.input-item {
    width: 100%;
}

.form-btn button {
    padding: 17px 30px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 14px;
    border-radius: 3px;
    display: inline-block;
    margin-left: 0px;
    transition: all 0.4s ease 0s;
    outline: none;
    border: none;
    margin-top: 25px;
    background: rgb(227, 34, 83) !important;
}

.form-btn button:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: black !important;
}

section#our-clients {
    background: rgb(248, 248, 248);
    position: relative;
    top: 200px;
}

.client-testimonail {
    text-align: center;
    width: 800px;
    margin: auto;
}

.client-tes-img img {
    width: 120px;
    height: 120px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 100%;
    margin: auto;
}

.client-tes-img {
    margin-bottom: 25px;
}

.client-tes-content p {
    color: rgb(108, 117, 125);
    line-height: 30px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.client-tes-meta h5 {
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.client-tes-meta span {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: rgb(227, 34, 83) !important;
}

.testimonial-inner {
    width: 800px;
    margin: auto;
}

section#our-blog {
    position: relative;
    top: 200px;
}

.our-blog-item {
    width: 364px;
    margin-right: 20px;
}

.blog-img img {
    width: 100%;
    transition: all 0.4s ease 0s;
}

.blog-img {
    height: 272px;
}

.blog-post-date {
    position: absolute;
    bottom: 20px;
    padding: 5px 10px;
    left: 15px;
    font-family: Quicksand;
    border-radius: 3px;
    text-align: center;
    background: rgb(227, 34, 83) !important;
}

.our-blog-image {
    position: relative;
    overflow: hidden;
}

.blog-post-date a {
    font-family: Quicksand;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.blog-post-meta ul {
    display: flex;
    align-items: center;
    gap: 25px;
}

.blog-post-contain {
    padding: 30px 25px;
    background: rgb(246, 249, 251);
}

.blog-post-meta li a i {
    color: rgb(227, 34, 83);
    font-size: 14px;
    margin-right: 10px;
}

.blog-post-meta ul li a {
    text-transform: uppercase;
    font-size: 14px;
    font-family: Quicksand;
    font-weight: 600;
    color: rgb(102, 102, 102);
    transition: all 0.4s ease 0s;
}

.blog-post-meta {
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 15px;
}

.blog-post-title h2 a {
    font-size: 23px;
    transition: all 0.4s ease 0s;
    color: rgb(35, 56, 72) !important;
}

.blog-post-title {
    margin-bottom: 5px;
}

.blog-post-info {
    margin-top: 10px;
}

.blog-post-info p {
    line-height: 30px;
    color: rgb(108, 117, 125);
    font-size: 16px;
}

.blog-post-info {
    width: 320px;
    margin-bottom: 30px;
}

.blog-post-btn a {
    text-transform: uppercase;
    font-weight: 600;
    font-family: Quicksand;
    font-size: 14px;
    transition: all 0.4s ease 0s;
    color: rgb(227, 34, 83) !important;
}

.blog-post-btn span {
    margin: 5px;
}

.blog-post-btn {
    margin-bottom: 10px;
}

.blog-post-meta ul li a:hover {
    color: rgb(227, 34, 83) !important;
}

.blog-post-title h2 a:hover {
    color: rgb(227, 34, 83) !important;
}

.blog-post-btn a:hover {
    color: rgb(35, 56, 72) !important;
}

.our-blog-item .our-blog-image .our-blog-image .blog-img img {
    transform: scale(1);
}

.our-blog-item:hover .our-blog-image .blog-img img {
    transform: scale(1.1);
}

.our-blog-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-subscribe {
    padding: 45px;
    border-radius: 4px;
    position: relative;
    top: 120px;
    background: rgb(227, 34, 83) !important;
}

.subs-image {
    width: 130px;
}

.subs-image img {
    width: 100%;
}

.subscribe-letter {
    display: flex;
    gap: 30px;
    width: 325px;
    align-items: center;
}

.subs-content h2 {
    font-size: 28px;
    color: rgb(255, 255, 255);
    line-height: 36px;
}

.footer-subscribe-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe-form input {
    padding: 18px 15px;
    width: 470px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    color: rgb(255, 255, 255) !important;
}

.subscribe-form button {
    padding: 16px;
    width: 105px;
    text-transform: uppercase;
    background: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-radius: 3px;
    font-family: Quicksand;
    font-weight: 600;
    letter-spacing: 0.04em;
    font-size: 14px;
    margin-left: 25px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.subscribe-form button:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}

.footer-top {
    background: rgb(35, 56, 72);
    /* position: relative; */
    /* z-index: -9; */
}

.ft-logo {
    width: 200px;
}

.ft-logo img {
    width: 100%;
}

.footer-top-inner {
    padding: 200px 0px 65px;
    display: flex;
    justify-content: space-between;
}

.footer-medicate p {
    margin-top: 30px;
    width: 320px;
    line-height: 30px;
    font-size: 16px;
    color: rgb(241, 245, 248) !important;
}

.footer-medicate {
    width: 320px;
}

.ft-sec-title h3 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 30px;
    position: relative;
}

.ft-sec-title h3::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 45px;
    height: 2px;
    display: inline-block;
    background: rgb(227, 34, 83) !important;
}

.ft-our-course {
    width: 290px;
}

.ft-course-inner {
    display: flex;
    gap: 20px;
}

.ft-recent-post {
    width: 275px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    height: 166px;
}

.ft-contact {
    width: 245px;
}

.ft-list-left ul li a {
    color: rgb(255, 255, 255);
    transition: all 0.4s ease 0s;
}

.ft-list-left ul li {
    padding: 10px 0px;
}

.ft-list-left ul li a span {
    margin-right: 8px;
    font-family: Quicksand;
    font-weight: 600;
}

.ft-list-right ul li a {
    color: rgb(255, 255, 255);
}

.ft-list-right ul li {
    padding: 10px 0px;
}

.ft-list-right ul li a span {
    margin-right: 6px;
    font-family: Quicksand;
    font-weight: 600;
}

.ft-posts-inner {
    display: flex;
    margin-top: 35px;
}

.ft-post-img {
    width: 115px;
}

.ft-post-img img {
    width: 100%;
    border-radius: 3px;
}

.ft-post-content a {
    color: rgb(255, 255, 255);
    margin-left: 15px;
}

.ft-post-content a span {
    font-size: 12px;
    font-family: Quicksand;
    font-weight: 600;
}

.ft-post-content a span i {
    margin-right: 5px;
}

.ft-post-content h3 {
    color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-top: 8px;
    line-height: 23px;
}

.ft-list-left ul li a :hover {
    color: rgb(227, 34, 83);
}

.ft-phone a {
    color: rgb(255, 255, 255);
}

.ft-message a {
    color: rgb(255, 255, 255);
}

.ft-location a {
    color: rgb(255, 255, 255);
}

.ft-phone {
    margin-bottom: 25px;
}

.ft-message {
    margin-bottom: 25px;
}

.ft-phone a i, .ft-message a i, .ft-location a i {
    margin-right: 15px;
}

.ft-post-content a {
    font-size: 14px;
}

.copyright-area {
    text-align: center;
    padding: 20px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 16px;
}

.copyright span {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-weight: 500;
    letter-spacing: 0.5px;
}
/* loader spinners */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-image: url('img/loader.png');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 1s, visibility 1s;
    z-index: 11111;
}
.loader-hidden{
    visibility: hidden;
    opacity: 1;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    /* border: 15px solid #dddddd;
    border-top-color: #7449f5; */
    /* background-image: url('img/loader.png'); */
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
    form{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(2turn);
    }
}
.copy-right {
    text-align: center;
    padding: 22px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.copyright a {
    color: #92a9ff;
}
.copyright p {
    color: #fff;
    font-size: 16px;
}

#scrollUp {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99999;
}

#scrollUp i {
    width: 50px;
    height: 50px;
    background: #e32253;
    padding: 7px 10px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s ease;
}
#scrollUp i:hover {
    background: #000;
    color: #fff;
}

.overflow-all {
    overflow: hidden;
}

/* CSS ENDED */